@import url("https://fonts.googleapis.com/css2?family=Akshar:wght@300;400;500&family=Dosis:wght@400;500;600&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&family=League+Spartan:wght@589&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  text-transform: capitalize;
  text-decoration: none;
  box-sizing: border-box;
  outline: none;
  border: none;
  transition: all 0.2s linear;
}

@-webkit-keyframes fadeIn {
  0% {
    scale: 0.5;
    opacity: 0;
  }
}

@keyframes fadeIn {
  0% {
    scale: 0.5;
    opacity: 0;
  }
}
html {
  font-size: 62.5%;
}
html::-webkit-scrollbar {
  width: 1rem;
}
html::-webkit-scrollbar-track {
  background: #eee;
}
html::-webkit-scrollbar-thumb {
  background: #e01cf1;
  border-radius: 5rem;
}

body {
  background: #eee;
}

section {
  padding: 3rem 9%;
}

.header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  z-index: 500;
  background: #e01cf1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 9%;
}
.header .logo {
  font-size: 2.5rem;
  color: #fff;
  font-weight: 0.1rem solid #333;
  text-decoration: none;
}
.header .logo i {
  color: #fff;
}
.header .search-form {
  height: 4rem;
  width: 20rem;
  background: #fff;
  border-radius: 5rem;
  display: flex;
  align-items: center;
  padding: 0 2rem;
  display: none;
}
.header .search-form input {
  width: 100%;
  color: #666;
  font-size: 1.7rem;
  padding-right: 1rem;
  text-transform: none;
}
.header .search-form label {
  font-size: 2rem;
  color: #666;
  cursor: pointer;
}
.header .search-form label:hover {
  color: #e01cf1;
}
.header .icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
}
.header .icons .cart {
  position: relative;
}
.header .icons .cart #number {
  position: absolute;
  top: -1.3rem;
  right: -1.2rem;
  font-size: 1.1rem;
  background: #333;
  border-radius: 50%;
  display: inline-block;
  height: 1.4rem;
  width: 1.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}
.header .icons .pay-btn {
  font-size: 1.7rem;
  display: inline-block;
  border-radius: 1rem;
  padding: 0.6rem 1rem;
  color: #e01cf1;
  cursor: pointer;
  background: #fff;
  display: none;
}
.header .icons .pay-btn:hover {
  background: gold;
  color: #333;
}
.header .icons a,
.header .icons div {
  font-size: 2.2rem;
  color: #fff;
  margin-left: 2rem;
  cursor: pointer;
  text-decoration: none;
}
.header .icons a:hover,
.header .icons div:hover {
  color: gold;
}
.header .navbar-nav {
  margin-left: 15rem;
}
.header .navbar-nav .nav-item {
  font-size: 1.7rem;
  margin: 0 0.7rem;
}
.header .navbar-nav .nav-item .nav-link {
  color: #eee;
}
.header .navbar-nav .nav-item .nav-link.active {
  color: #fff;
  font-weight: 500;
}
.header .user {
  position: absolute;
  top: 30%;
  padding: 2rem;
  text-align: center;
  left: 1rem;
  display: none;
}
.header .user img {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  border: 0.5rem solid #fff;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}
.header .user h3 {
  padding: 0.5rem 0;
  font-size: 1.5rem;
  color: #666;
  margin-top: 0.5rem;
}
.header .user a {
  font-size: 1rem;
  color: #e01cf1;
  text-decoration: none;
}
.header .user a:hover {
  color: #333;
}

#search-btn {
  display: none;
}

.side-bar {
  position: fixed;
  top: 0;
  left: -110%;
  height: 100%;
  width: 30rem;
  background: #fff;
  z-index: 10000;
}
.side-bar.active {
  box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.7);
  left: 0;
}
.side-bar #close-side-bar {
  position: absolute;
  top: 1rem;
  right: 2rem;
  font-size: 4rem;
  cursor: pointer;
  color: #666;
}
.side-bar #close-side-bar:hover {
  transform: rotate(90deg);
  color: #333;
}
.side-bar .user {
  padding: 2rem;
  background: #eee;
  text-align: center;
}
.side-bar .user img {
  height: 17rem;
  width: 17rem;
  border-radius: 50%;
  border: 1rem solid #fff;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}
.side-bar .user h3 {
  padding: 0.5rem 0;
  font-size: 1.7rem;
  color: #666;
  margin-top: 1rem;
}
.side-bar .user a {
  font-size: 1.5rem;
  color: #e01cf1;
  text-decoration: none;
  padding: 0;
}
.side-bar .user a:hover {
  color: #333;
}
.side-bar .navbar {
  padding-top: 1rem;
}
.side-bar .navbar a {
  display: block;
  padding: 1rem 2rem;
  font-size: 1.7rem;
  color: #666;
  text-decoration: none;
  margin: 0;
}
.side-bar .navbar a:hover {
  color: #e01cf1;
}
.side-bar .navbar a:hover i {
  padding-right: 2rem;
}
.side-bar .navbar a i {
  padding-right: 0.5rem;
}

.category .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(13rem, 1fr));
  gap: 2rem;
}
.category .box-container .box {
  text-align: center;
  border-radius: 0.5rem;
  border: 0.1rem solid #333;
  padding: 2rem;
  background: #fff;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  text-decoration: none;
}
.category .box-container .box:hover {
  background: #333;
}
.category .box-container .box:hover h3 {
  color: #fff;
}
.category .box-container .box img {
  height: 7rem;
  margin-bottom: 0.5rem;
}
.category .box-container .box h3 {
  font-size: 1.7rem;
  color: #333;
}

.products .container .row {
  display: flex;
  justify-content: center;
  align-items: center;
}
.products .container .box {
  padding: 0.7rem;
  border: 0.1rem solid #333;
  background: #fff;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
  width: 30rem;
}
.products .container .box:hover .image .hover-img {
  display: inline-block;
}
.products .container .box:hover .image .main-img {
  display: none;
}
.products .container .box .image img {
  -webkit-animation: fadeIn 0.2s linear;
          animation: fadeIn 0.2s linear;
  height: 16rem;
  margin: 1.3rem 0;
}
.products .container .box .image .hover-img {
  display: none;
}
.products .container .box .image .icons {
  display: flex;
  justify-content: center;
  flex-flow: column;
  align-items: center;
  gap: 0.5rem;
}
.products .container .box .image .icons .btn {
  padding: 1.1rem 1.2rem;
  font-size: 1.5rem;
  border: none;
  outline: none;
  background: #e01cf1;
  color: #fff;
}
.products .container .box .image .icons .btn:hover {
  background: #333;
}
.products .container .box .image .icons input[type=number] {
  margin: 0 auto;
  width: 50%;
  border: 0.1rem solid #333;
  border-radius: 0.5rem;
  font-size: 1.4rem;
  color: #333;
  padding: 0.8rem 1rem;
}
.products .container .box .image .content .card-title {
  font-size: 1.6rem;
  color: #333;
}
.products .container .box .image .content .price {
  font-size: 1.6rem;
  color: #e01cf1;
  font-weight: bold;
}
.products .container .box .image .content .price span {
  color: #666;
  font-size: 1.2rem;
  text-decoration: line-through;
}
.products .container .box .image .content .stars i {
  font-size: 1.8rem;
  color: gold;
}

.register form,
.login form {
  max-width: 40rem;
  border-radius: 0.5rem;
  padding: 2rem;
  background: #fff;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  border: 1px solid #e01cf1;
  margin: 1rem auto;
  display: flex;
  flex-flow: column;
}
.register form h3,
.login form h3 {
  font-size: 2.5rem;
  padding: 1rem;
  color: #e01cf1;
  text-transform: uppercase;
}
.register form .box,
.login form .box {
  width: 100%;
  padding: 1.2rem 1.4rem;
  border-radius: 0.5rem;
  border: 1px solid #333;
  font-size: 1.6rem;
  color: #666;
  text-transform: none;
  margin: 0.7rem 0;
}
.register form .remember,
.login form .remember {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
}
.register form .remember label,
.login form .remember label {
  font-size: 1.5rem;
  color: #666;
  cursor: pointer;
}
.register form .btn,
.login form .btn {
  width: 100%;
  text-align: center;
  background: #333;
  color: #fff;
  border: none;
  outline: none;
}
.register form .btn:hover,
.login form .btn:hover {
  background: #e01cf1;
}
.register form .btn.link,
.login form .btn.link {
  background: #333;
}
.register form .btn.link:hover,
.login form .btn.link:hover {
  background: #e01cf1;
}
.register form p,
.login form p {
  padding-top: 2rem;
  font-size: 1.5rem;
  color: #666;
  text-align: center;
  padding-bottom: 1rem;
}
.register form #photo,
.login form #photo {
  display: none;
}
.register form .btn-img,
.login form .btn-img {
  width: 40%;
  font-size: 1.2rem;
  text-align: center;
  background: #e01cf1;
  color: #fff;
  border: none;
  outline: none;
  align-self: center;
  padding: 0.5rem;
  border-radius: 0.3rem;
  margin: 1rem 0;
  cursor: pointer;
}

.quick-links {
  display: flex;
  align-items: center;
  gap: 2rem;
  background: #333;
  justify-content: space-between;
}
.quick-links .logo {
  font-size: 2.5rem;
  color: #fff;
  font-weight: 0.1rem solid #333;
  text-decoration: none;
}
.quick-links .logo i {
  color: #fff;
}
.quick-links .links a {
  margin: 0 1rem;
  font-size: 1.7rem;
  color: #fff;
  text-decoration: none;
}
.quick-links .links a:hover {
  color: gold;
}
.quick-links .share a {
  font-size: 2.5rem;
  color: #fff;
  margin-left: 2rem;
  text-decoration: none;
}
.quick-links .share a:hover {
  color: gold;
}

.credit {
  display: flex;
  align-items: center;
  gap: 2rem;
  background: #fff;
  justify-content: space-between;
}
.credit p {
  font-size: 2rem;
  color: #666;
}
.credit p span {
  color: #e01cf1;
}
.credit img {
  height: 4rem;
  filter: drop-shadow(0 0 0.1rem #333);
}

.about {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}
.about .image {
  flex: 1 1 42rem;
}
.about .image img {
  width: 100%;
}
.about .content {
  flex: 1 1 42rem;
  padding: 3rem;
  background: #fff;
}
.about .content h3 {
  font-size: 3rem;
  text-transform: uppercase;
  color: #333;
}
.about .content p {
  font-size: 1.5rem;
  color: #666;
  padding: 1rem 0;
  line-height: 2;
}

.faq .accordion-container {
  max-width: 70rem;
  margin: 0 auto;
}
.faq .accordion-container .accordion {
  background: #fff;
  margin-bottom: 1rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}
.faq .accordion-container .accordion:last-child {
  margin-bottom: 5rem;
}
.faq .accordion-container .accordion.active .accordion-heading {
  background: #e01cf1;
}
.faq .accordion-container .accordion.active i {
  transform: rotate(180deg);
}
.faq .accordion-container .accordion.active .accordion-content {
  display: block;
}
.faq .accordion-container .accordion .accordion-heading {
  padding: 2rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: space-between;
  background: #333;
  cursor: pointer;
}
.faq .accordion-container .accordion .accordion-heading h3 {
  font-size: 2rem;
  color: #fff;
}
.faq .accordion-container .accordion .accordion-heading i {
  font-size: 2rem;
  color: #fff;
}
.faq .accordion-container .accordion-content {
  padding: 2rem;
  font-size: 1.5rem;
  line-height: 2;
  color: #666;
  display: none;
  -webkit-animation: fadeIn 0.2s linear;
          animation: fadeIn 0.2s linear;
}

.review .slide {
  width: 35rem;
  padding: 3rem;
  text-align: center;
  border: 0.1rem solid #333;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
  background: #fff;
}
.review .slide img {
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
  margin-bottom: 0.5rem;
}
.review .slide h3 {
  font-size: 2rem;
  padding: 0.5rem 0;
  color: #333;
}
.review .slide span {
  color: #e01cf1;
  font-size: 1.7rem;
}
.review .slide p {
  font-size: 1.5rem;
  line-height: 2;
  color: #666;
  padding-top: 1rem;
}
.review .swiper-button-next::after,
.review .swiper-button-prev::after {
  font-size: 3rem;
  color: #e01cf1;
}

.infos-container .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(31rem, 1fr));
  gap: 2rem;
}
.infos-container .box-container .box {
  background: #fff;
  border-radius: 0.5rem;
  text-align: center;
  padding: 2rem;
  border: 0.1rem solid #333;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}
.infos-container .box-container .box i {
  height: 7.5rem;
  width: 7.5rem;
  line-height: 7.5rem;
  font-size: 2.5rem;
  border-radius: 50%;
  margin-bottom: 0.5rem;
  background: #e01cf1;
  color: #fff;
}
.infos-container .box-container .box h3 {
  font-size: 2rem;
  padding: 0.5rem 0;
  color: #333;
}
.infos-container .box-container .box p {
  font-size: 1.5rem;
  line-height: 2;
  color: #666;
}

.contact {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}
.contact form {
  flex: 1 1 42rem;
}
.contact h3 {
  font-size: 3rem;
  text-transform: uppercase;
  color: #333;
  padding-bottom: 1rem;
}
.contact p {
  font-size: 1.5rem;
  color: #666;
  padding: 1rem 0;
  line-height: 2;
}
.contact .inputBox {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.contact .inputBox input {
  width: 49%;
}
.contact .inputBox input,
.contact textarea {
  padding: 1.2rem 1.4rem;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  border: 0.1rem solid #333;
  background: #fff;
  text-transform: none;
  color: #666;
  font-size: 1.5rem;
  margin: 0.7rem 0;
}
.contact .btn {
  background: #333;
  color: #fff;
  outline: none;
  border: none;
}
.contact .btn:hover {
  background: #e01cf1;
}
.contact textarea {
  height: 15rem;
  resize: none;
  width: 100%;
}
.contact .map {
  flex: 1 1 42rem;
  width: 100%;
}

.newsletter {
  background-color: #e01cf1;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}
.newsletter .content {
  flex: 1 1 42rem;
}
.newsletter h3 {
  font-size: 6rem;
  color: #fff;
  text-transform: uppercase;
}
.newsletter p {
  font-size: 2.2rem;
  color: #fff;
}
.newsletter form {
  flex: 1 1 42rem;
  background: #fff;
  display: flex;
  padding: 0.5rem;
  border-radius: 0.5rem;
}
.newsletter form .email {
  width: 100%;
  padding: 0 1.4rem;
  text-transform: none;
  color: #666;
  font-size: 1.6rem;
}
.newsletter form .btn {
  margin-top: 0;
  background: #333;
  color: #fff;
}
.newsletter form .btn:hover {
  background: #e01cf1;
}

.home {
  background: #fff;
}
.home .slide {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  min-height: 40rem;
  padding: 2rem 0;
}
.home .slide .image {
  flex: 1 1 42rem;
  text-align: center;
}
.home .slide .image img {
  height: 30rem;
}
.home .slide .content {
  flex: 1 1 42rem;
}
.home .slide .content span {
  font-size: 2rem;
  color: #e01cf1;
}
.home .slide .content h3 {
  padding-top: 0.5rem;
  color: #333;
  font-size: 3rem;
}
.home .swiper-button-next::after,
.home .swiper-button-prev::after {
  font-size: 3rem;
  color: #333;
}

.home.cmr {
  padding-bottom: 0;
  background: #fff;
  height: 60vh;
}
.home.cmr .slide {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  min-height: 20rem;
  padding: 2rem 0;
}
.home.cmr .slide .image {
  flex: 1 1 42rem;
  text-align: center;
}
.home.cmr .slide .image img {
  height: 30rem;
}
.home.cmr .slide .content {
  flex: 1 1 42rem;
}
.home.cmr .slide .content span {
  font-size: 2rem;
  color: #e01cf1;
}
.home.cmr .slide .content h3 {
  padding-top: 0.5rem;
  color: #333;
  font-size: 2rem;
}
.home.cmr .swiper-button-next::after,
.home.cmr .swiper-button-prev::after {
  font-size: 3rem;
  color: #333;
}

.shopping-cart .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(31rem, 1fr));
  gap: 2rem;
}
.shopping-cart .box-container .box {
  padding: 2rem;
  border: 0.1rem solid #333;
  background: #fff;
  border-radius: -5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: -5rem;
  position: relative;
}
.shopping-cart .box-container .box .fa-times {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
  font-size: 2.5rem;
  color: rgb(252, 89, 89);
  cursor: pointer;
  text-decoration: none;
}
.shopping-cart .box-container .box .fa-times:hover {
  color: red;
}
.shopping-cart .box-container .box img {
  height: 12rem;
}
.shopping-cart .box-container .box .content h3 {
  font-size: 1.7rem;
  color: #333;
}
.shopping-cart .box-container .box .content form {
  padding: 1rem 0;
  display: flex;
  gap: 2.5rem;
  justify-content: space-between;
  align-items: center;
}
.shopping-cart .box-container .box .content form span {
  font-size: 1.5rem;
  color: #666;
}
.shopping-cart .box-container .box .content form input {
  width: 7rem;
  padding: -5rem 1rem;
  border-radius: -5rem;
  background: #eee;
  font-size: 1.5rem;
}
.shopping-cart .box-container .box .content form .cart-foot {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 0 auto;
}
.shopping-cart .box-container .box .content form .cart-foot .update-btn {
  margin-top: 1rem;
  display: inline-block;
  border-radius: 0.5rem;
  padding: 1rem 1.9rem;
  font-size: 1.5rem;
  color: #fff;
  cursor: pointer;
  background: #e01cf1;
}
.shopping-cart .box-container .box .content form .cart-foot .update-btn:hover {
  background: #333;
}
.shopping-cart .box-container .box .content .price {
  font-size: 2rem;
  color: #e01cf1;
}
.shopping-cart .box-container .box .content .price span {
  font-size: 1.5rem;
  color: #666;
  text-decoration: line-through;
}
.shopping-cart .cart-total {
  margin-top: 2rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  border: 0.1rem solid #333;
  border-color: -5rem;
  background: #fff;
  padding: 2rem;
  padding-top: 1rem;
}
.shopping-cart .cart-total h3 {
  padding-top: 1rem;
  font-size: 2rem;
  color: #333;
}
.shopping-cart .cart-total h3 span {
  color: #e01cf1;
}
.shopping-cart .cart-total .btn {
  background: #333;
  color: #fff;
}
.shopping-cart .cart-total .btn:hover {
  background: #e01cf1;
}
.shopping-cart .cart-total .disabled {
  pointer-events: none;
  opacity: 0.5;
}
.shopping-cart .cart-total .form-cart {
  display: flex;
  justify-content: space-between;
  flex-flow: column;
  align-items: center;
}

.btn {
  margin-top: 1rem;
  display: inline-block;
  border-radius: 0.5rem;
  padding: 1rem 3rem;
  font-size: 1.7rem;
  color: #fff;
  cursor: pointer;
  background: #333;
  outline: none;
  border: none;
}
.btn:hover {
  background: #e01cf1;
  color: #fff;
}

.heading {
  text-align: center;
  margin-bottom: 3rem;
  font-size: 3.5rem;
  color: #333;
}
.heading span {
  color: #e01cf1;
}

.banner .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(31rem, 1fr));
  gap: 2rem;
}
.banner .box-container .box {
  position: relative;
  height: 25rem;
  border: 0.1rem solid #333;
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}
.banner .box-container .box:hover img {
  transform: scale(1.1);
}
.banner .box-container .box img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.banner .box-container .box .content {
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translateY(-50%) rotate(45deg);
}
.banner .box-container .box .content span {
  font-size: 1.7rem;
  color: #e01cf1;
}
.banner .box-container .box .content h3 {
  font-size: 2rem;
  padding: 0.5rem 0;
  color: #333;
}

.arrivals .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(33rem, 1fr));
  gap: 2rem;
}
.arrivals .box-container .box {
  border-radius: 0.5rem;
  border: 0.1rem solid #333;
  padding: 2rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  gap: 1rem;
  background: #fff;
}
.arrivals .box-container .box:hover .image .main-img {
  display: none;
}
.arrivals .box-container .box:hover .image .hover-img {
  display: inline-block;
}
.arrivals .box-container .box .image img {
  height: 15rem;
  -webkit-animation: fadeIn 0.2s linear;
          animation: fadeIn 0.2s linear;
}
.arrivals .box-container .box .image .hover-img {
  display: none;
}
.arrivals .box-container .box .content h3 {
  font-size: 2rem;
  color: #333;
}
.arrivals .box-container .box .content .price {
  padding-top: 0.5rem;
  font-size: 2rem;
  color: #e01cf1;
  padding-bottom: 0.7rem;
}
.arrivals .box-container .box .content .price span {
  font-size: 1.5rem;
  color: #666;
  text-decoration: line-through;
}
.arrivals .box-container .box .content .stars i {
  font-size: 1.5rem;
  color: gold;
}

.arrivals.cmr .box-container {
  padding-top: 0;
  padding-bottom: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(33rem, 1fr));
  gap: 2rem;
}
.arrivals.cmr .box-container .box {
  border-radius: 0.5rem;
  border: 0.1rem solid #333;
  padding: 2rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  gap: 1rem;
  background: #fff;
}
.arrivals.cmr .box-container .box:hover .image .main-img {
  display: none;
}
.arrivals.cmr .box-container .box:hover .image .hover-img {
  display: inline-block;
}
.arrivals.cmr .box-container .box .image img {
  width: 15rem;
  -webkit-animation: fadeIn 0.2s linear;
          animation: fadeIn 0.2s linear;
}
.arrivals.cmr .box-container .box .image .hover-img {
  display: none;
}
.arrivals.cmr .box-container .box .content h3 {
  font-size: 1.7rem;
  color: #333;
}
.arrivals.cmr .box-container .box .content .price {
  padding-top: 0.5rem;
  font-size: 1.7rem;
  color: #e01cf1;
  padding-bottom: 0.7rem;
}
.arrivals.cmr .box-container .box .content .price span {
  font-size: 1.3rem;
  color: #666;
  text-decoration: line-through;
}
.arrivals.cmr .box-container .box .content .stars i {
  font-size: 1.5rem;
  color: gold;
}

.messages {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  padding: 1.5rem 1rem;
  background-color: #fff;
  text-align: center;
  z-index: 1000;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  font-size: 2rem;
  color: #333;
}

@media (max-width: 1200px) {
  html {
    font-size: 55%;
  }
  .header {
    padding: 3rem;
  }
  section {
    padding: 3rem 2rem;
  }
}
@media (max-width: 991px) {
  .quick-links {
    flex-flow: column;
    text-align: center;
  }
  .quick-links .links {
    padding: 1rem 0;
  }
  .quick-links .links a {
    display: block;
    font-size: 2rem;
    padding: 1rem 0;
  }
  .quick-links .share a {
    margin: 0 1rem;
  }
  .credit {
    flex-flow: column;
    text-align: center;
  }
  .header .logo {
    font-size: 1.6rem;
  }
  .header .cart {
    position: relative;
  }
  .header .cart #number {
    position: absolute;
    top: -0.4rem;
    right: -3rem;
    font-size: 1.4rem;
  }
  .header .search-form {
    width: 35rem;
    display: none;
  }
  .user {
    display: none;
  }
}
@media (max-width: 768px) {
  #search-btn {
    display: inline-block;
  }
  .header .search-form {
    position: absolute;
    top: 99%;
    left: 0;
    right: 0;
    width: 100%;
    border-radius: 0;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    height: 6rem;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    display: none;
  }
  .header .search-form.active {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  .header .logo {
    font-size: 1.7rem;
  }
  .header .cart #number {
    padding: 1rem;
    font-size: 1.1rem;
  }
  .header .icons {
    display: flex;
    gap: 2rem;
  }
  .header .icons a,
.header .icons div {
    font-size: 1.5rem;
  }
  .swiper-button-next,
.swiper-button-prev {
    display: none;
  }
  .home .slide {
    text-align: center;
  }
  .newsletter {
    text-align: center;
  }
  .newsletter .content h3 {
    font-size: 4rem;
  }
  .newsletter .content p {
    font-size: 1.5rem;
  }
  .products .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(31rem, 1fr));
    gap: 2rem;
  }
}
@media (max-width: 768px) {
  .swiper-button-next,
.swiper-button-next {
    display: none;
  }
  .home .slide {
    text-align: center;
  }
}
@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
  .header {
    justify-content: space-between;
  }
  .header .logo {
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 0.6rem;
    font-size: 2rem;
  }
  .header .icons a,
.header .icons div {
    margin: 0;
    font-size: 2rem;
  }
  .home .slide .image img {
    height: auto;
    width: 100%;
  }
}
@media (max-width: 450px) {
  .home .slide .image img {
    height: auto;
    width: 100%;
  }
  .arrivals .box-container .box {
    flex-flow: column;
    gap: 2rem;
    text-align: center;
  }
  .content form .inputbox input {
    width: 100%;
  }
  .shopping-cart .cart-total {
    text-align: center;
  }
  .shopping-cart .cart-total .btn {
    width: 100%;
  }
}/*# sourceMappingURL=style.css.map */