@import url("https://fonts.googleapis.com/css2?family=Akshar:wght@300;400;500&family=Dosis:wght@400;500;600&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&family=League+Spartan:wght@589&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  text-transform: capitalize;
  text-decoration: none;
  box-sizing: border-box;
  outline: none;
  border: none;
  transition: all 0.2s linear;
}

$blue: #e01cf1;
$black: #333;
$white: #fff;
$gold: gold;
$light-color: #666;
$light-bg: #eee;
$border: 0.1rem solid $black;
$box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);

@mixin grid($val) {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax($val, 1fr));
  gap: 2rem;
}

@keyframes fadeIn {
  0% {
    scale: 0.5;
    opacity: 0;
  }
}

html {
  font-size: 62.5%;

  &::-webkit-scrollbar {
    width: 1rem;
  }

  &::-webkit-scrollbar-track {
    background: $light-bg;
  }

  &::-webkit-scrollbar-thumb {
    background: $blue;
    border-radius: 5rem;
  }
}

body {
  background: $light-bg;
}

section {
  padding: 3rem 9%;
}

.header {
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  z-index: 500;
  background: $blue;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 9%;

  .logo {
    font-size: 2.5rem;
    color: $white;
    font-weight: $border;
    text-decoration: none;

    i {
      color: $white;
    }
  }

  .search-form {
    height: 5rem;
    width: 50rem;
    background: $white;
    border-radius: 5rem;
    display: flex;
    align-items: center;
    padding: 0 2rem;

    input {
      width: 100%;
      color: $light-color;
      font-size: 1.7rem;
      padding-right: 1rem;
      text-transform: none;
    }

    label {
      font-size: 2rem;
      color: $light-color;
      cursor: pointer;

      &:hover {
        color: $blue;
      }
    }
  }

  .icons {
    display: flex;
    justify-content: center;
    gap: 2rem;

    .cart {
      position: relative;

      #number {
        position: absolute;
        top: -1.3rem;
        right: -1.2rem;
        font-size: 1.3rem;
        background: $black;
        border-radius: 50%;
        display: inline-block;
        height: 2rem;
        width: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1.2rem;
        color: $white;
        font-weight: bold;
        cursor: pointer;
      }
    }
  }

  .icons a,
  .icons div {
    font-size: 2.5rem;
    color: $white;
    margin-left: 2rem;
    cursor: pointer;
    text-decoration: none;

    &:hover {
      color: $gold;
    }
  }
}

#search-btn {
  display: none;
}

.side-bar {
  position: fixed;
  top: 0;
  left: -110%;
  height: 100%;
  width: 30rem;
  background: $white;
  z-index: 10000;

  &.active {
    box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.7);
    left: 0;
  }

  #close-side-bar {
    position: absolute;
    top: 1rem;
    right: 2rem;
    font-size: 4rem;
    cursor: pointer;
    color: $light-color;

    &:hover {
      transform: rotate(90deg);
      color: $black;
    }
  }

  .user {
    padding: 2rem;
    background: $light-bg;
    text-align: center;

    img {
      height: 17rem;
      width: 17rem;
      border-radius: 50%;
      border: 1rem solid $white;
      box-shadow: $box-shadow;
    }

    h3 {
      padding: 0.5rem 0;
      font-size: 1.7rem;
      color: $light-color;
      margin-top: 1rem;
    }

    a {
      font-size: 1.5rem;
      color: $blue;
      text-decoration: none;
      padding: 0;

      &:hover {
        color: $black;
      }
    }
  }

  .navbar {
    padding-top: 1rem;

    a {
      display: block;
      padding: 1rem 2rem;
      font-size: 1.7rem;
      color: $light-color;
      text-decoration: none;
      margin: 0;

      &:hover {
        color: $blue;

        i {
          padding-right: 2rem;
        }
      }

      i {
        padding-right: 0.5rem;
      }
    }
  }
}

.category {
  .box-container {
    @include grid(13rem);

    .box {
      text-align: center;
      border-radius: 0.5rem;
      border: $border;
      padding: 2rem;
      background: $white;
      box-shadow: $box-shadow;
      text-decoration: none;

      &:hover {
        background: $black;

        h3 {
          color: $white;
        }
      }

      img {
        height: 7rem;
        margin-bottom: 0.5rem;
      }

      h3 {
        font-size: 1.7rem;
        color: $black;
      }
    }
  }
}

.products {
  .container {
    .row {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .box {
      padding: .7rem;
      border: $border;
      background: $white;
      box-shadow: $box-shadow;
      border-radius: 0.5rem;
      width: 30rem;

      &:hover .image {
        .hover-img {
          display: inline-block;
        }

        .main-img {
          display: none;
        }
      }

      .image {
        img {
          animation: fadeIn 0.2s linear;
          height: 18rem;
        }

        .hover-img {
          display: none;
        }

        .icons {

          display: flex;
          justify-content: center;
          flex-flow: column;
          align-items: center;
          gap: .5rem;


          .btn {
            padding: 1.1rem 1.2rem;
            font-size: 1.5rem;
            border: none;
            outline: none;
            background: $blue;
            color: $white;

            &:hover {
              background: $black;
            }
          }

          input[type="number"]{
            margin: 0 auto;
            width: 50%;
            border: $border;
            border-radius: .5rem;
            font-size: 1.4rem;
            color: $black;
            padding: .8rem 1rem;
          }
        }

        .content {
          .card-title {
            font-size: 1.6rem;
            color: $black;
          }

          .price {
            font-size: 1.6rem;
            color: $blue;
            font-weight: bold;

            span {
              color: $light-color;
              font-size: 1.2rem;
              text-decoration: line-through;
            }
          }

          .stars {
            i {
              font-size: 1.8rem;
              color: $gold;
            }
          }
        }
      }
    }
  }
}

.register,
.login {
  form {
    max-width: 40rem;
    border-radius: 0.5rem;
    padding: 2rem;
    background: $white;
    box-shadow: $box-shadow;
    border: 1px solid $blue;
    margin: 1rem auto;
    display: flex;
    flex-flow: column;

    h3 {
      font-size: 2.5rem;
      padding: 1rem;
      color: $blue;
      text-transform: uppercase;
    }

    .box {
      width: 100%;
      padding: 1.2rem 1.4rem;
      border-radius: 0.5rem;
      border: 1px solid $black;
      font-size: 1.6rem;
      color: $light-color;
      text-transform: none;
      margin: 0.7rem 0;
    }

    .remember {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      padding-top: 1.5rem;
      padding-bottom: 1rem;

      label {
        font-size: 1.5rem;
        color: $light-color;
        cursor: pointer;
      }
    }

    .btn {
      width: 100%;
      text-align: center;
      background: $black;
      color: $white;
      border: none;
      outline: none;
      &:hover{
        background: $blue;
      }

      &.link {
        background: $black;

        &:hover {
          background: $blue;
        }
      }
    }

    p {
      padding-top: 2rem;
      font-size: 1.5rem;
      color: $light-color;
      text-align: center;
      padding-bottom: 1rem;
    }

    #photo{
      display: none;
    }

    .btn-img{
      width: 40%;
      font-size: 1.2rem;
      text-align: center;
      background: $blue;
      color: $white;
      border: none;
      outline: none;
      align-self: center;
      padding: .5rem;
      border-radius: .3rem;
      margin: 1rem 0;
      cursor: pointer;
    }
  }
}

.quick-links {
  display: flex;
  align-items: center;
  gap: 2rem;
  background: $black;
  justify-content: space-between;

  .logo {
    font-size: 2.5rem;
    color: $white;
    font-weight: $border;
    text-decoration: none;

    i {
      color: $white;
    }
  }

  .links {
    a {
      margin: 0 1rem;
      font-size: 1.7rem;
      color: $white;
      text-decoration: none;

      &:hover {
        color: $gold;
      }
    }
  }

  .share {
    a {
      font-size: 2.5rem;
      color: $white;
      margin-left: 2rem;
      text-decoration: none;

      &:hover {
        color: $gold;
      }
    }
  }
}

.credit {
  display: flex;
  align-items: center;
  gap: 2rem;
  background: $white;
  justify-content: space-between;

  p {
    font-size: 2rem;
    color: $light-color;

    span {
      color: $blue;
    }
  }

  img {
    height: 4rem;
    filter: drop-shadow(0 0 0.1rem $black);
  }
}

.about {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;

  .image {
    flex: 1 1 42rem;

    img {
      width: 100%;
    }
  }

  .content {
    flex: 1 1 42rem;
    padding: 3rem;
    background: $white;

    h3 {
      font-size: 3rem;
      text-transform: uppercase;
      color: $black;
    }

    p {
      font-size: 1.5rem;
      color: $light-color;
      padding: 1rem 0;
      line-height: 2;
    }
  }
}

.faq {
  .accordion-container {
    max-width: 70rem;
    margin: 0 auto;

    .accordion {
      background: $white;
      margin-bottom: 1rem;
      box-shadow: $box-shadow;

      &:last-child {
        margin-bottom: 5rem;
      }

      &.active {
        .accordion-heading {
          background: $blue;
        }

        i {
          transform: rotate(180deg);
        }

        .accordion-content {
          display: block;
        }
      }

      .accordion-heading {
        padding: 2rem;
        display: flex;
        align-items: center;
        gap: 1rem;
        justify-content: space-between;
        background: $black;
        cursor: pointer;

        h3 {
          font-size: 2rem;
          color: $white;
        }

        i {
          font-size: 2rem;
          color: $white;
        }
      }
    }

    .accordion-content {
      padding: 2rem;
      font-size: 1.5rem;
      line-height: 2;
      color: $light-color;
      display: none;
      animation: fadeIn 0.2s linear;
    }
  }
}

.review {
  .slide {
    width: 35rem;
    padding: 3rem;
    text-align: center;
    border: $border;
    box-shadow: $box-shadow;
    border-radius: 0.5rem;
    background: $white;

    img {
      height: 10rem;
      width: 10rem;
      border-radius: 50%;
      margin-bottom: 0.5rem;
    }

    h3 {
      font-size: 2rem;
      padding: .5rem 0;
      color: $black;
    }

    span {
      color: $blue;
      font-size: 1.7rem;
    }

    p {
      font-size: 1.5rem;
      line-height: 2;
      color: $light-color;
      padding-top: 1rem;
    }
  }

  .swiper-button-next::after,
  .swiper-button-prev::after {
    font-size: 3rem;
    color: $blue;
  }
}

.infos-container {
  .box-container {
    @include grid(31rem);

    .box {
      background: $white;
      border-radius: 0.5rem;
      text-align: center;
      padding: 2rem;
      border: $border;
      box-shadow: $box-shadow;

      i {
        height: 7.5rem;
        width: 7.5rem;
        line-height: 7.5rem;
        font-size: 2.5rem;
        border-radius: 50%;
        margin-bottom: 0.5rem;
        background: $blue;
        color: $white;
      }

      h3 {
        font-size: 2rem;
        padding: 0.5rem 0;
        color: $black;
      }

      p {
        font-size: 1.5rem;
        line-height: 2;
        color: $light-color;
      }
    }
  }
}

.contact {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;

  form {
    flex: 1 1 42rem;
  }

  h3 {
    font-size: 3rem;
    text-transform: uppercase;
    color: $black;
    padding-bottom: 1rem;
  }

  p {
    font-size: 1.5rem;
    color: $light-color;
    padding: 1rem 0;
    line-height: 2;
  }

  .inputBox {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    input {
      width: 49%;
    }
  }

  .inputBox input,
  textarea {
    padding: 1.2rem 1.4rem;
    border-radius: 0.5rem;
    box-shadow: $box-shadow;
    border: $border;
    background: $white;
    text-transform: none;
    color: $light-color;
    font-size: 1.5rem;
    margin: 0.7rem 0;
  }
  .btn{
    background: $black;
    color: $white;
    outline: none;
    border: none;

    &:hover{
      background: $blue;
    }
  }

  textarea {
    height: 15rem;
    resize: none;
    width: 100%;
  }

  .map {
    flex: 1 1 42rem;
    width: 100%;
  }
}

.newsletter {
  background-color: $blue;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;

  .content {
    flex: 1 1 42rem;
  }

  h3 {
    font-size: 6rem;
    color: $white;
    text-transform: uppercase;
  }

  p {
    font-size: 2.2rem;
    color: $white;
  }

  form {
    flex: 1 1 42rem;
    background: $white;
    display: flex;
    padding: .5rem;
    border-radius: 0.5rem;

    .email {
      width: 100%;
      padding: 0 1.4rem;
      text-transform: none;
      color: $light-color;
      font-size: 1.6rem;
    }

    .btn {
      margin-top: 0;
      background: $black;
      color: $white;

      &:hover{
        background: $blue;
      }
    }
  }
}

.home {
  background: $white;

  .slide {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    min-height: 40rem;
    padding: 2rem 0;

    .image {
      flex: 1 1 42rem;
      text-align: center;

      img {
        height: 30rem;
      }
    }

    .content {
      flex: 1 1 42rem;

      span {
        font-size: 2rem;
        color: $blue;
      }

      h3 {
        padding-top: 0.5rem;
        color: $black;
        font-size: 3rem;
      }
    }
  }

  .swiper-button-next::after,
  .swiper-button-prev::after {
    font-size: 3rem;
    color: $black;
  }
}

.shopping-cart {
  .box-container {
    @include grid(31rem);

    .box {
      padding: 2rem;
      border: $border;
      background: $white;
      border-radius: -5rem;
      box-shadow: $box-shadow;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: -5rem;
      position: relative;

      .fa-times {
        position: absolute;
        top: 1rem;
        right: 1.5rem;
        font-size: 2.5rem;
        color: rgb(252, 89, 89);
        cursor: pointer;
        text-decoration: none;

        &:hover {
          color: red;
        }
      }

      img {
        height: 12rem;
      }

      .content {
        h3 {
          font-size: 1.7rem;
          color: $black;
        }

        form {
          padding: 1rem 0;
          display: flex;
          gap: 2.5rem;
          justify-content: space-between;
          align-items: center;

          span {
            font-size: 1.5rem;
            color: $light-color;
          }

          input {
            width: 7rem;
            padding: -5rem 1rem;
            border-radius: -5rem;
            background: $light-bg;
            font-size: 1.5rem;
          }

          .cart-foot{
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 90%;
            margin: 0 auto;

            .update-btn {
                margin-top: 1rem;
                display: inline-block;
                border-radius: 0.5rem;
                padding: 1rem 1.9rem;
                font-size: 1.5rem;
                color: $white;
                cursor: pointer;
                background: $blue;
            
                &:hover {
                  background: $black;
                }
              }

          }
        }

        .price {
          font-size: 2rem;
          color: $blue;

          span {
            font-size: 1.5rem;
            color: $light-color;
            text-decoration: line-through;
          }
        }
      }
    }
  }

  .cart-total {
    margin-top: 2rem;
    box-shadow: $box-shadow;
    border: $border;

    border-color: -5rem;
    background: $white;
    padding: 2rem;
    padding-top: 1rem;

    h3 {
      padding-top: 1rem;
      font-size: 2rem;
      color: $black;

      span {
        color: $blue;
      }
    }

    .btn{
      background: $black;
      color: $white;

      &:hover{
        background: $blue;
      }
    }

    .disabled{
      pointer-events: none;
      opacity: .5;
    }

    .form-cart{
      display: flex;
      justify-content: space-between;
      flex-flow: column;
      align-items: center;
      gap: 10rem;
    }

  }
}

.btn {
  margin-top: 1rem;
  display: inline-block;
  border-radius: 0.5rem;
  padding: 1rem 3rem;
  font-size: 1.7rem;
  color: $white;
  cursor: pointer;
  background: $black;
  outline: none;
  border: none;

  &:hover {
    background: $blue;
    color: $white;
  }
}

.heading {
  text-align: center;
  margin-bottom: 3rem;
  font-size: 3.5rem;
  color: $black;

  span {
    color: $blue;
  }
}

.banner {
  .box-container {
    @include grid(31rem);

    .box {
      position: relative;
      height: 25rem;
      border: $border;
      border-radius: 0.5rem;
      overflow: hidden;
      box-shadow: $box-shadow;

      &:hover img {
        transform: scale(1.1);
      }

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }

      .content {
        position: absolute;
        top: 50%;
        left: 5%;
        transform: translateY(-50%) rotate(45deg);

        span {
          font-size: 1.7rem;
          color: $blue;
        }

        h3 {
          font-size: 2rem;
          padding: 0.5rem 0;
          color: $black;
        }
      }
    }
  }
}

.arrivals {
  .box-container {
    @include grid(33rem);

    .box {
      border-radius: 0.5rem;
      border: $border;
      padding: 2rem;
      box-shadow: $box-shadow;
      display: flex;
      align-items: center;
      gap: 1rem;
      background: $white;

      &:hover {
        .image {
          .main-img {
            display: none;
          }

          .hover-img {
            display: inline-block;
          }
        }
      }

      .image {
        img {
          height: 15rem;
          animation: fadeIn 0.2s linear;
        }

        .hover-img {
          display: none;
        }
      }

      .content {
        h3 {
          font-size: 2rem;
          color: $black;
        }

        .price {
          padding-top: 0.5rem;
          font-size: 2rem;
          color: $blue;
          padding-bottom: 0.7rem;

          span {
            font-size: 1.5rem;
            color: $light-color;
            text-decoration: line-through;
          }
        }

                  .stars i {
            font-size: 1.5rem;
            color: $gold;
          }
              }
    }
  }
}

.messages {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  padding: 1.5rem 1rem;
  background-color: $white;
  text-align: center;
  z-index: 1000;
  box-shadow: $box-shadow;
  font-size: 2rem;
  color: $black;
}

//media queries

@media (max-width: 1200px) {
  html {
    font-size: 55%;
  }

  .header {
    padding: 3rem;
  }

  section {
    padding: 3rem 2rem;
  }
}

@media (max-width: 991px) {
  .quick-links {
    flex-flow: column;
    text-align: center;

    .links {
      padding: 1rem 0;

      a {
        display: block;
        font-size: 2rem;
        padding: 1rem 0;
      }
    }

    .share {
      a {
        margin: 0 1rem;
      }
    }
  }

  .credit {
    flex-flow: column;
    text-align: center;
  }

  .header {
    .logo {
      font-size: 1.6rem;
    }

    .cart {
      position: relative;

      #number {
        position: absolute;
        top: -0.4rem;
        right: -3rem;
        font-size: 1.4rem;
      }
    }

    .search-form{
        width: 35rem;
    }
  }
}

@media (max-width: 768px) {
  #search-btn {
    display: inline-block;
  }

  .header {
    .search-form {
      position: absolute;
      top: 99%;
      left: 0;
      right: 0;
      width: 100%;
      border-radius: 0;
      box-shadow: $box-shadow;
      height: 6rem;
      clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);

      &.active {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
      }
    }

    .logo {
      font-size: 1.7rem;
    }

    .cart{

      #number{
        padding: 1rem;
        font-size: 1.1rem;
      }
    }
  }

  .swiper-button-next,
  .swiper-button-prev {
    display: none;
  }

  .home {
    .slide {
      text-align: center;
    }
  }

  .newsletter {
    text-align: center;

    .content {
      h3 {
        font-size: 4rem;
      }

      p {
        font-size: 1.5rem;
      }
    }
  }

  .products{

    .container{
      @include grid(31rem);

      
    }

  }
}

@media (max-width: 768px) {
  .swiper-button-next,
  .swiper-button-next {
    display: none;
  }

  .home {
    .slide {
      text-align: center;
    }
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }

  .header {
    justify-content: space-between;

    .logo {
      display: flex;
      flex-flow: column;
      align-items: center;
      gap: .6rem;
      font-size: 2rem;
    }

    .icons a,
    .icons div {
      margin: 0;
      font-size: 2rem;
    }
  }

  .home {
    .slide {
      .image {
        img {
          height: auto;
          width: 100%;
        }
      }
    }
  }
}

@media (max-width: 450px) {
  .home {
    .slide {
      .image {
        img {
          height: auto;
          width: 100%;
        }
      }
    }
  }

  .arrivals .box-container .box {
    flex-flow: column;
    gap: 2rem;
    text-align: center;
  }

  .content form .inputbox input {
    width: 100%;
  }

  .shopping-cart .cart-total {
    text-align: center;

    .btn {
      width: 100%;
    }
  }
}
