@import url('https://fonts.googleapis.com/css2?family=Akshar:wght@300;400;500&family=Dosis:wght@400;500;600&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&family=League+Spartan:wght@589&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    text-transform: capitalize;
    text-decoration: none;
    box-sizing: border-box;
    outline: none;
    border: none;
    transition: all .2s linear;
}

$blue : #0984e3;
$black : #333;
$white : #fff;
$gold : gold;
$light-color : #666;
$light-bg : #eee;
$border : .2rem solid $black;
$box-shadow : 0 .5rem 1rem rgba(0, 0, 0, 0.2);

@mixin grid($val) {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax($val, 1fr));
    gap: 2rem;
}

html {
    font-size: 62.5%;

    &::-webkit-scrollbar {
        width: 1rem;
    }

    &::-webkit-scrollbar-track {
        background: $light-bg;
    }

    &::-webkit-scrollbar-thumb {
        background: $blue;
        border-radius: 5rem;
    }
}

body {
    background: $light-bg;
}

section {
    padding: 3rem 9%;
}


.header {
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
    background: $blue;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 9%;

    .logo {
        font-size: 2.5rem;
        color: $white;
        font-weight: $border;
        text-decoration: none;

        i {
            color: $gold;
        }
    }

    .search-form {
        height: 5rem;
        width: 50rem;
        background: $white;
        border-radius: 5rem;
        display: flex;
        align-items: center;
        padding: 0 2rem;

        input {
            width: 100%;
            color: $light-color;
            font-size: 1.7rem;
            padding-right: 1rem;
            text-transform: none;
        }

        label {
            font-size: 2rem;
            color: $light-color;
            cursor: pointer;

            &:hover {
                color: $blue;
            }
        }
    }

    .icons{

        display: flex;
        justify-content: center;
        gap: 2rem;

        .cart {
            position: relative;

            #number{
                position: absolute;
                top: -.1rem;
                right: -3rem;
                font-size: 1.6rem;
                background: $gold;
                border-radius: 50%;
                display: inline-block;
                height: 2rem;
                width: 2rem;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 1.2rem;
                color: $light-color;
                font-weight: bold;
                cursor: pointer;
            }
        }
    }

    .icons a,
    .icons div {
        font-size: 2.5rem;
        color: $white;
        margin-left: 2rem;
        cursor: pointer;
        text-decoration: none;

        &:hover {
            color: $gold;
        }
    }
}



#search-btn {
    display: none;
}


.side-bar{
    position: fixed;
    top: 0;
    left: -110%;
    height: 100%;
    width: 30rem;background: $white;
    z-index: 10000;
    

    &.active{
        box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.7);
        left: 0;
    }

    #close-side-bar{
        position: absolute;
        top: 1rem;
        right: 2rem;
        font-size: 4rem;
        cursor: pointer;
        color: $light-color;

        &:hover{
            transform: rotate(90deg);
            color: $black;
        }
    }

    .user{
        padding: 2rem;
        background: $light-bg;
        text-align: center;

        img{
            height: 17rem;
            width: 17rem;
            border-radius: 50%;
            border: 1rem solid $white;
            box-shadow: $box-shadow;

        }

        h3{
            padding: .5rem 0;
            font-size: 1.7rem;
            color: $light-color;
            margin-top: 1rem;
        }
        a{
            font-size: 1.5rem;
            color: $blue;
            text-decoration: none;
            padding: 0;

            &:hover{
                color: $black;
            }
        }
    }

    .navbar{
        padding-top: 1rem;

        a{
            display: block;
            padding: 1rem 2rem;
            font-size: 1.7rem;
            color: $light-color;
            text-decoration: none;
            margin: 0;

            &:hover{
                color: $blue;

                i{
                    padding-right: 2rem;
                }
            }

            i{
                padding-right: 0.5rem;
            }
        }
    }
}



.category{

    .box-container{
        @include grid(13rem);

        .box{
            text-align: center;
            border-radius: .5rem;
            border: $border;
            padding: 2rem;
            background: $white;
            box-shadow: $box-shadow;
            text-decoration: none;

            &:hover{
                background: $black;

                h3{
                    color: $white;
                }
            }

            img{
                height: 7rem;
                margin-bottom: 0.5rem;
            }

            h3{
                font-size: 1.7rem;
                color: $black;
            }
        }
    }
}

.products{

    .container{

        .row{
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .box{
            padding: 1rem;
            border: $border;
            background: $white;
            box-shadow: $box-shadow;
            border-radius: .5rem;
            width: 30rem;

            &:hover .image{
                .hover-img{
                    display: inline-block;
                }
                .main-img{
                    display: none;
                }
            }

            .image{
                img{
                    animation: fadeIn .2s linear;
                    height: 20rem;
                }

                .hover-img{
                    display: none;
                }

                .icons{
                    .btn{
                        padding: 1.1rem 1.2rem;
                        font-size: 1.5rem;
                        border: none;
                        outline: none;

                        &:hover{
                            background: $black;
                        }
                    }
                }

                .content{

                    .card-title {
                            font-size: 1.6rem;
                            color: $black;
                        }
                    
                        .price {
                            font-size: 1.6rem;
                            color: $blue;
                            font-weight: bold;
                    
                            span {
                                color: $light-color;
                                font-size: 1.2rem;
                                text-decoration: line-through;
                            }
                        }

                        .stars{
                            i{
                                font-size: 1.8rem;
                                color: $blue;
                            }
                        }
                }
                
            }
        }
    }
}

.register,
.login{

    form{
        max-width: 40rem;
        border-radius: .5rem;
        padding: 2rem;
        background: $white;
        box-shadow: $box-shadow;
        border: $border;
        margin: 1rem auto;

        h3{
            font-size: 2.5rem;
            padding: 1rem;
            color: $black;
            text-transform: uppercase;
        }

        .box{
            width: 100%;
            padding: 1.2rem 1.4rem;
            border-radius: .5rem;
            border: $border;
            font-size: 1.6rem;
            color: $light-color;
            text-transform: none;
            margin: .7rem 0;
        }

        .remember{
            display: flex;
            align-items: center;
            gap: 0.5rem;
            padding-top: 1.5rem;
            padding-bottom: 1rem;

            label{
                font-size: 1.5rem;
                color: $light-color;
                cursor: pointer;
            }
        }

        .btn{
            width: 100%;
            text-align: center;

            &.link{
                background: $black;

                &:hover{
                    background: $blue;
                }
            }
        }

        p{
            padding-top: 2rem;
            font-size: 1.5rem;
            color: $light-color;
            text-align: center;
            padding-bottom: 1rem;
        }
    }
}




.quick-links {
    display: flex;
    align-items: center;
    gap: 2rem;
    background: $black;
    justify-content: space-between;

    .logo {
        font-size: 2.5rem;
        color: $white;
        font-weight: $border;
        text-decoration: none;

        i {
            color: $gold;
        }
    }

    .links {
        a {
            margin: 0 1rem;
            font-size: 1.7rem;
            color: $white;
            text-decoration: none;

            &:hover {
                color: $gold;
            }
        }
    }

    .share {
        a {
            font-size: 2.5rem;
            color: $white;
            margin-left: 2rem;
            text-decoration: none;

            &:hover {
                color: $gold;
            }
        }
    }


}

.credit {
    display: flex;
    align-items: center;
    gap: 2rem;
    background: $white;
    justify-content: space-between;

    p {
        font-size: 2rem;
        color: $light-color;

        span {
            color: $blue;
        }
    }

    img {
        height: 4rem;
        filter: drop-shadow(0 0 .1rem $black);
    }
}